<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item"><a class="nav-link" href="{% url 'dashboard:home' %}">Dashboard</a></li>
            {% if user.is_staff or user.is_superuser %}
                <li class="nav-item"><a class="nav-link" href="{% url 'admin_panel:dashboard' %}">Admin Panel</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'studies:list' %}">Studies</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'patients:list' %}">Patients</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'reports:dashboard' %}">Reports</a></li>
            {% endif %}
            <li class="nav-item"><a class="nav-link" href="{% url 'accounts:logout' %}">Sign out</a></li>
        </ul>
    </div>
</nav>
